.menu{
    display : flex;
    flex-direction: row;
    width : 100%;
    justify-content:center;
    background-color: black;
  }
.menu li{
    display: inline;
    padding: 10px;
    position: sticky;
    
}

.menu li a { 
    color: white; 
    text-decoration: none; 
}